// Colors
$off-black: #20222b;
$off-white: #a5afd7;
$dark-blue: #29343d;
$blue: #3c4251;
$light-blue: #464b5e;
$purple: #8357c5;

// Spacing
$s-size: 1.2rem;
$m-size: 2rem;
$l-size: 5.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;


// Breakpoints
$bp-small: 30em; // 480px
$bp-medium: 48em; // 768px
$bp-large: 64em; // 1024px
$bp-xlarge: 120em; // 1920px

// Media Queries
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";